# 無視するフォルダ
.Rproj.user
.ipynb_checkpoints
.idea
/**/.ipynb_checkpoints/
/**/__pycache__/

# 基本的に配下のすべてのファイルを無視するフォルダ
/data/*
/notebooks/*
/document/*
/tmp/*
!./data/**/.gitkeep
!/data/db/.gitkeep
!/data/dump/.gitkeep

# 無視するファイル
*.csv
*.xlsx
*.zip
*.gzip
.RData
.Rhistory
.Rproj
*.log
!access.log
.venv
.pytest_cache
.vscode
.Rproj.user
.DS_Store
saitama_data/setting.ini

# 例外処理
!data/info/
data/info/*
!data/info/seito_qes
!data/info/school_qes
!data/info/seito_qes/*
!data/info/school_qes/*
!./saitama_data/datasetup/test/log/*.csv
!tests/snapshots/snap_test/*.csv
!data/info/seito_qes_information_file
!data/info/seito_qes_information_file/**/*.csv
!data/info/seito_qes_information_file/**/*.xlsx