# 無視するフォルダ
.Rproj.user
.ipynb_checkpoints
.idea
/**/.ipynb_checkpoints/
/**/__pycache__/

# 基本的に配下のすべてのファイルを無視するフォルダ
/data/*
/notebooks/*
/document/*
/tmp/*
!./data/**/.gitkeep
!/data/db/.gitkeep
!/data/dump/.gitkeep

# 無視するファイル
*.csv
!./saitama_data/datasetup/test/log/*.csv
*.xlsx
*.zip
*.gzip
.RData
.Rhistory
.Rproj
*.log
!access.log
.Rproj.user
.DS_Store
saitama_data/setting.ini
